<p id="notice"><%= notice %></p>

<h1>Gce Zones</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is active</th>
      <th>Gceregion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gce_zones.each do |gce_zone| %>
      <tr>
        <td><%= gce_zone.name %></td>
        <td><%= gce_zone.is_active %></td>
        <td><%= gce_zone.gce_region %></td>
        <td><%= link_to 'Show', gce_zone %></td>
        <td><%= link_to 'Edit', edit_gce_zone_path(gce_zone) %></td>
        <td><%= link_to 'Destroy', gce_zone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gce Zone', new_gce_zone_path %>
