<p id="notice"><%= notice %></p>

<h1>Gce Regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gce_regions.each do |gce_region| %>
      <tr>
        <td><%= gce_region.name %></td>
        <td><%= gce_region.address %></td>
        <td><%= gce_region.description %></td>
        <td><%= gce_region.is_active %></td>
        <td><%= link_to 'Show', gce_region %></td>
        <td><%= link_to 'Edit', edit_gce_region_path(gce_region) %></td>
        <td><%= link_to 'Destroy', gce_region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gce Region', new_gce_region_path %>
